.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/bgblue.png");
  background-size: cover;
  color: white;
}

.favoritesContainer {
  margin: 3 5rem;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.favorite {
  border: solid 1px white;
  max-height: fit-content;
  padding: 1rem;
  margin: 1rem;
}

.listHeader {
  font-family: "Anton";
  font-size: 2rem;
  margin: 1rem;
}

.listBody {
  margin: 1rem 2rem;
  white-space: pre-wrap;
}

.button {
  background-color: #f9ca33;
  border-radius: 2px;
  font-size: "Anton";
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.button:hover {
  filter: invert(1);
}

@media only screen and (max-width: 850px) {
  .favoritesContainer {
    flex-direction: column;
    align-items: center;
  }
}
