.headerBackground {
  background-image: url("bgyellow.png");
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: rgba(4, 94, 116, 255);
}

.informationBackground {
  background-image: url("bgblue.png");
  background-position: center;
  background-size: cover;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informationContainer h2 {
  color: rgb(155, 131, 90);
}

.informationContainer p {
  color: white;
}

.tournamentBackground {
  background-image: url("bgyellow.png");
  background-position: center;
  background-size: cover;
}

.tournamentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournamentContainer h3 {
  color: rgba(4, 94, 116, 255);
}

.divider1 {
  background-image: url("divider1.png");
  background-size: cover;
  height: 1vh;
}

.divider2 {
  background-image: url("divider2.png");
  background-size: cover;
  height: 10vh;
}

@media only screen and (max-width: 600px) {
  .header {
    min-height: 45vh;
    margin: 0.5rem 1.5rem 0 1.5rem;
  }
  .header h1 {
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
  }
  .header p {
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .informationContainer {
    min-height: 50vh;
    margin: 0.5rem 1.5rem 2rem 1.5rem;
    text-align: center;
  }
  .informationContainer h2 {
    margin: 1rem 0 2rem 0;
    font-size: 3rem;
  }
  .informationContainer > p {
    font-size: 1.5rem;
    margin: 0 2rem 2rem 2rem;
  }
  .informationContainerP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .tournamentContainer {
    min-height: 220vh;
    margin: 0 3.7rem;
  }
  .tournamentContainer h3 {
    font-size: 1.8rem;
    text-align: center;
    margin: 0.5rem 0 3rem 0;
  }
  .tournamentContainer p {
    font-weight: 600;
    text-align: center;
  }
  .list {
    font-weight: 600;
    margin-top: 2rem;
  }
}
