.JoinusContainer {
  background-image: url("/bgblue.png");
  background-size: cover;
  background-position: center;
  color: white;
  border: solid black 0.1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.title {
  display: flex;
  align-items: center;
}

.parag {
  padding-left: 0.5rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  width: auto; /* Adapt width automatically */
  height: 40px;
  transition: transform 0.3s ease-in-out;
  background-color: #f0f0f0;
  padding: 0.5rem;
  margin-left: 0.6rem;
  border-radius: 50%;
  margin-bottom: 1rem; /* Spacing between icons */
}

.icon:hover {
  background-color: #ab936b;
  cursor: pointer;
}

.mailTo {
  color: white;
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.mailTo:hover {
  color: #ab936b;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .title {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .mailTo {
    margin-bottom: 0.4rem;
  }
}
