/* Root variables for consistent styling */
:root {
  --background-card: #ffffff;
  --text-color: #333;
  --border-color: #ccc;
  --button-primary: #007bff;
  --button-secondary: #ffc107;
  --shadow: rgba(0, 0, 0, 0.1);
}

.resultBackground {
  padding: 1rem;
  background-color: #f0f0f0;
}

.card {
  border: 1px solid var(--border-color);
  background-color: var(--background-card);
  padding: 1.5rem;
  box-shadow: 0 2px 5px var(--shadow);
  border-radius: 8px;
  margin: 0.5rem; /* Provides space around each card */
}

.tournamentDetails,
.subEntry,
p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

/* Buttons styling */
button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--button-primary);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-secondary);
  cursor: pointer;
}

/* Modal content adjustments for better styling */
.modal-content {
  padding: 1rem;
  background-color: var(--background-card);
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow);
}

.modal-header,
.modal-body {
  padding: 0.5rem;
}

/* Enhancements for form elements to match the design */
input,
select,
textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
