/* Root variables for consistent styling */
:root {
  --background-card: #ffffff;
  --text-color: #333;
  --border-color: #ccc;
  --button-primary: #007bff;
  --button-secondary: #ffc107;
  --shadow: rgba(0, 0, 0, 0.1);
}

.searchSummary {
  background-image: url("/bgyellow.png");
  background-size: cover;
  background-position: center;
  font-family: Anton;
  font-size: 1.8rem;
  color: black;
  padding: 0.4rem;
}

.tournamentContainerBg {
  background-image: url("/bgblue.png");
  background-size: contain;
}

.loadingContainer {
  background-image: url("/bgyellow.png");
  background-position: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: white;
  padding: 1rem;
  gap: 5px;
  background-image: url("/bgblue.png");
  background-position: center;
  background-size: cover;
}

.containerInfo {
  display: flex;
}

.tournamentInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tournamentName {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.tournamentButton {
  display: flex;
  justify-content: flex-end;
}

.tournamentTitle {
  font-size: 1.5rem;
}

.pointsButtonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.pointsButtons {
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: #f0f0f0;
}

.card {
  border: 1px solid var(--border-color);
  background-color: var(--background-card);
  padding: 1.5rem;
  box-shadow: 0 2px 5px var(--shadow);
  border-radius: 8px;
  margin: 0.5rem; /* Provides space around each card */
}

.tournamentDetails,
.subEntry,
p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

/* Buttons styling */
button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--button-primary);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-secondary);
  cursor: pointer;
}

/* Modal content adjustments for better styling */
.modal-content {
  padding: 1rem;
  background-color: var(--background-card);
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow);
}

.modal-header,
.modal-body {
  padding: 0.5rem;
}


.location,
.subEntry {
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .pointsButtonsContainer {
    /*    border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    margin: 0rem;
  }

  .pointsButtons {
    border: 2px solid yellow;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #f9ca33;
    border: 1px solid black;
    height: 5.5rem;
    width: 5.5rem;
    padding: 1rem;
    margin: 0.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    /*     border: 2px solid green; */
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }

  .header button {
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    background-color: #f9ca33;
    border: 1px solid black;
    margin: 0.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header h2 {
    /*  border: 2px solid blue; */
    margin: auto; /* Center horizontally */
    font-size: 3rem;
    color: white;
  }

  .sortButtonsContainer {
    /*   border: 2px solid purple; */
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    margin: 0rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .sortButtons {
    height: 3.3rem;
    width: 3.3rem;
    padding: 0rem;
    border-radius: 10px;
    background-color: #f9ca33;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
  }

}
