

.navbarContainer {
  display: flex;
  align-items: center;
  border: solid var(--navbar-border-width) black;
  margin: 1rem;
  border-radius: 7px;
  justify-content: space-between;
  height: var(--navbar-height);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.navItem {
  padding: 10px 20px;
  cursor: pointer;
}


.ulNavbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.oldWorldLogo {
  width: 200px;
  height: auto;
  border: 3px solid black;
  cursor: pointer;
}

.navItem a {
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 0 2rem;
}

.navContainer.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 33vh;
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  opacity: 0.95;
}

@media (max-width: 1024px) {
  .navContainer {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: calc(var(--navbar-height) - 2 * var(--navbar-border-width));
}

.loggedInAs {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.favorites {
  margin: 0 auto;
}

.logout {
  font-size: 0.7rem;
  cursor: pointer;
  margin: 0 auto;
}

.favoriteImg {
  width: 20px;
  margin: 0 0.4rem 0.3rem;
}

