.navbarContainer {
  border: solid 3px black;
  margin: 1rem;
}

/* NOT WORKING REPAIRE IT */

.ulNavbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;
}

.oldWorldLogo {
  width: 200px;
  height: auto;
  border: 3px solid black;
}

.liNavbar a {
  text-decoration: none;
}
