.tournamentContainer {
  margin: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.tournamentContainerBg {
  background-image: url("/bgblue.png");
  background-size: contain;
}

.loadingContainer {
  background-image: url("/bgyellow.png");
  background-position: center;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: black;
  padding: 1rem;
  gap: 5px;
  background-image: url("/bgyellow.png");
  background-position: center;
  background-size: cover;
}

.tournamentInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tournamentName {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  
}

.tournamentButton {
  display: flex;
  justify-content: flex-end;
}

.tournamentTitle {
  font-size: 1.5rem;
}

.pointsButtonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.pointsButtons {
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
}

.header {
  display: flex;
  margin: 5rem;
}

.header button {
  width: 13rem;
}

.header h2 {
  margin: auto; /* Center horizontally */
  font-size: 3rem;
}

.sortButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 5rem;
}

.sortButtons {
  height: 4.5rem;
  width: 5rem;
  padding: 1rem;
}

#modalDialogId {
  max-width: 800px;
}

button:hover {
  background-color: grey;
}

.divider1 {
  background-image: url("/divider1.png");
  background-size: cover;
  height: 1vh;
}

.divider2 {
  background-image: url("/divider2.png");
  background-size: cover;
  height: 10vh;
}

.topBackground {
  background-image: url("/bgblue.png");
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
}
