
 
 .card {
  display: flex;
  padding: 10px;
 } 

 .daten {
  padding-left  : 5px; 
  padding-right : 5px; 

 }
  .popup {
    
    position:fixed ; /* Make it fixed to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning based on content size */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* Adjust as needed */
    word-wrap: break-word; /* Allow text wrapping */
    overflow-x: hidden; /* Hide horizontal overflow */
    max-height: 70vh; /* DONT ASK IT WORKED */
  overflow-y: auto; /* Add scrollbar if content exceeds max-height */
  }


  .popup i {
    position: absolute;
    top: 10px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    cursor: pointer; /* Indicate clickable behavior */
    font-size: 1.5rem; /* Adjust font size as needed */
  }