.container {
  margin: auto;
  background-color: #000000; /* Dark theme footer */
  color: #f0f0f0; /* Light text for contrast */
  text-align: center;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem; /* Adequate spacing between sections */
  height: 25vh;
}

.containerTop,
.containerLow {
  display: flex;
  justify-content: space-around;
  gap: 1rem; /* Spacing between sections */
}

.footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adequate spacing between icons */
}

.icon {
  width: auto; /* Adapt width automatically */
  height: 40px;
  transition: transform 0.3s ease-in-out;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 50%; /* Circular icons for a modern look */
  margin-bottom: 1rem; /* Spacing between icons */
}

.icon:hover {
  transform: scale(1.1); /* Slight scale on hover for interaction */
  cursor: pointer;
}

.footerSectionLinks a {
  color: white;
}
.footerSectionLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .containerTop,
  .containerLow {
    flex-direction: row;
    text-align: center;
    height: fit-content;
  }

  .footerSectionLinks,
  .footerSectionCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .footerSectionLinks a {
    color: white;
  }

  .footerSection p {
    font-size: 0.2rem; /* Reduced font size on smaller screens */
    height: fit-content;
  }

  .icon {
    height: 30px; /* Smaller icons on smaller screens */
  }
}

a {
  text-decoration: none;
  color: white; /* Maintains color consistency */
}

h6 {
  font-size: 0.75rem;
  color: #ccc; /* Slightly lighter text for the smaller font */
}

@media (max-width: 400px) {
  .contactP {
    font-size: 10px; /* Smaller font size on smaller screens */
  }
}
