/* General */

/* Divider */

.divider1 {
  background-image: url("/divider1.png");
  background-size: cover;
  height: 1vh;
}

.divider2 {
  background-image: url("/divider2.png");
  background-size: cover;
  height: 10vh;
}

.divider3 {
  background-image: url("/divider3.png");
  background-size: contain;
  height: 1vh;
}

/* Desktop */

/* Section 1
    -> Choose your Faction */

.factionBackground {
  background-image: url("/bgblue.png");
  background-position: center;
  background-size: cover;
}

.factionHeadline {
  background-image: url("/bgyellow.png");
  background-position: center;
  background-size: cover;
  color: rgb(7, 98, 123);
  text-align: center;
}

.factionHeadline h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.emblem {
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: 250px;
}

/* Section 2
    -> Faction Buttons */

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 2rem 10rem;
  padding: 1.5rem;
  gap: 2rem;
}

.factionButtons {
  background-image: url("/bgyellow.png");
  background-position: center;
  background-size: cover;
  padding: 0rem;
  height: 13rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

.factionButtons:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.factionName {
  border: 2px red;
  font-size: 1.5rem;
}

.factionImage {
  height: 120px;
  padding-top: 1rem;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  /* Section 2
    -> Faction Buttons */

  .buttonContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 1rem;
    gap: 1.5rem;
  }

  .factionButtons {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1rem;
    line-height: 1rem;
  }

  .factionName {
    font-size: 1rem;
    min-height: 1.1rem;
  }

  .factionImage {
    height: 70px;
    padding-top: 0.5rem;
  }
}
