.warp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(97, 24, 115);
  background: radial-gradient(
    circle,
    rgba(97, 24, 80, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.warp h1 {
  color: white;
}
