.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'GermaniaVersalien';
  font-size: 2rem;
  margin: 3.8rem 0 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
  margin: 2.3rem 0;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input:hover {
  border: 1px solid #007bff;
}

.submitButton {
  margin: 2.5rem 0 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--background-color);
}

.submitButton:hover,
.switchButton:hover {
  background-color: #0056b3;
}

.switchButton {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #007bffc5;
  color: white;
  cursor: pointer;
  margin: 3.5rem 0 0.5rem;
}