.container {
  padding: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/bgblue.png");
  font-family: "Anton";
  height: auto;
}

.heading {
  font-family: "Anton";
  font-size: 2rem;
  margin: 3.8rem 0 1rem;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 0.7rem;
  margin: 2.3rem 0;
  border: 1px solid white;
  border-radius: 5px;
}
.topBackground {
  background-image: url("/bgblue.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  height: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 601px) {
  .form {
    width: 20%;
  }

  .topBackground {
    background-image: url("/bgblue.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.form:after {
  transform: scaleX(0);
}

.form:after:hover {
  transform: scaleX(1);
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.input:hover {
  border: 1px solid #007bff;
}

.label {
  font-size: 1.2rem;
}

.submitButton {
  margin: 2.5rem 0 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: black;
  letter-spacing: 1.5px;
  background-color: #f9ca33;
  transition: 0.5s ease-in-out;
}

.submitButton:hover {
  filter: invert(1);
  opacity: 0.8;
}
