@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");

@font-face {
  font-family: 'GermaniaVersalien';
  src: url('../GermaniaVersalien.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
}