@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #046d96;
  --terciary-color: #fbca1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  padding: 1rem;
  text-shadow: 1px 1px 2px black;
}

p,
button {
  font-family: "Bitter", serif;
  overflow-x: hidden;
}

/* Modal */

.modal-content {
  background-image: url("/bgyellowbig.png");
}
