body {
  --text-font-size: 1rem;
  --primary-color: #29627a;
  --secondary-color: #604800;
  --accent-color: #f00;
  --background-color: #f4f4f4;
  --foreground-color: #fff;
  --border-radius: 0.25rem;
  --border-width: 0.1rem;
  --border-color: #ddd;
}

.heading {
  --font-size: 2rem;
  --line-height: 1.2;
  --margin-bottom: 1rem;
}

.subheading {
  --font-size: 1.5rem;
  --line-height: 1.2;
  --margin-bottom: 1rem;
}

.paragraph {
  --font-size: 1rem;
  --line-height: 1.5;
  --margin-bottom: 1rem;
}

/* .buttonSubmit {
  color: white;
  background-color: #046d96;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
} */
